node_modules
sample.client.config.json 
yarn.lock
package-lock.json
CallTracker_w21092023_joo_tgbot_clone.code-workspace
data/account
dist/app.js
dist/database/CustomQuery.js
dist/database/db.js
dist/processor/MessageFormats.js
dist/processor/TokenProcessor.js
dist/service/HelperUtils.js
dist/service/Logger.js
dist/service/TelegramAccountService.js
dist/service/TelegramBotService.js
dist/service/parsers/gEmsgAmbleseth.js
dist/service/parsers/Knightgamble.js
dist/service/parsers/LuffyChanCalls.js
dist/service/parsers/MadPepeCalls.js
dist/service/parsers/nomsgems.js
dist/types/type.js
dist/utils/index.js
local.config.json
dist
logs/*
data/*
archivefolder
archivefolder.zip
logs/errors.log
logs/debug.log
